/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}
.container {
    max-width: 1407px;
    text-align: center; 
    position: absolute;
    height: 757px;
}

/* Navigation */
.navigation {
    height: 757px;
    position: relative;
    background-image: url('https://i.postimg.cc/BQgMzfRN/Background-Image.png');
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
}

/* .navigation:after {
    position: absolute;
    background: black;
    opacity: 0.5;
    content: "";
    width: 100%;
    height: 100%;
} */

a {
    padding: 0 5% 0 0;
    font-size: 14px;
    text-decoration: none;
    color:aliceblue;
    border: 1px solid black;
    margin: 50px 0;
}

.logo {
    font-size: 26px;
    margin: 50px 350px 50px 250px;
    border: 1px solid black;
    color: #fed136;
}

.btn {
    display: inline-block;
    min-width: 240px;
    min-height: 65px;
    margin: 24px auto 0 auto;
    padding: 24.5px 62.5px;
    border: none;
    font-size: 16px;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #fed136;
    background-position: 100% 0;
    background-size:300%;
    border-radius: 5px;
}

.btn:hover {
  outline: 0;
  background: #fed136;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}