/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Navigation*/

.navigation {
    height: 757px;
    width: 1407px;
    position: relative;
    background-image: url('https://i.postimg.cc/BQgMzfRN/Background-Image.png');
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
}

/* .navigation:after {
    position: absolute;
    background: black;
    opacity: 0.5;
    content: "";
    width: 100%;
    height: 100%;
} */

a {
    padding: 0 5% 0 0;
    font-size: 14px;
    text-decoration: none;
    color:aliceblue;
    border: 1px solid black;
    margin: 50px 0;
}

.logo {
    font-size: 26px;
    margin: 50px 350px 50px 250px;
    border: 1px solid black;
    color: #fed136;
}

.btn {
    display: flex;
    min-width: 240px;
    min-height: 65px;
    margin: 24px auto 0 auto;
    padding: 24.5px 62.5px;
    border: none;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    background-color: #fed136;
    border-radius: 5px;
}

.btn:hover {
  outline: 0;
  background: #fed136;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center; 
}

/* Services */
.container {
    /* display: flex; */
}
/* Our Portfolio */


/* Footer */
.fa-solid {
    font-size: 30px;
    line-height: 60px;
    color: #fed136;
    border: 3px solid #fed136;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;

}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
    .fa-facebook {
        background: #3B5998;
        color: white;
    }
    .fa-pinterest {
        background: #cb2027;
        color: white;
      }
    .fa-google {
        background: #dd4b39;
        color: white;
    }